p {
    color: lightgreen;
    text-decoration: underline;
    font-size: 20px;
}
li {
    color: plum;
}
h1 {
    color: rgb(131, 131, 233);
}
h2 {
    color: ORANGE;
}
body {
    background-color: LIGHTYELLOW;
}

#mostFavorite {
    text-decoration: underline;
    font-weight: bold;
    color: red;
}

.favorite {
    color: blue;
    font-weight: bolder;
}